/* <!--===============================================================================================--> */
#checkoutBox {
  border: 1px solid black;
  width: 500px;
  min-width: 500px;
}

@media (max-width: 768px) {
  #checkoutBox {
    width: 100%;
    min-width: 100%;
  }
}
/* <!--===============================================================================================--> */
#viewCartBox button {
  width: 110px;
  padding: 8px;
  background-color: #049547;
  border-radius: 15px;
  border: 0px solid transparent;
}

#viewCartBox button:hover {
  background-color: #025b2c;
}

#viewCartBox button a {
  color: white;
  text-decoration: none;
}
/* <!--===============================================================================================--> */
#informationBox {
  border: 5px solid black !important;
  width: 100%;
}

#informationBox h3 {
  font-weight: bold;
}
/* <!--===============================================================================================--> */
#checkoutBox span {
  font-size: 28px;
}
/* <!--===============================================================================================--> */
#checkoutBox select {
  width: 100%;
  padding: 10px;
}
/* <!--===============================================================================================--> */
.placeOrder {
  width: 100%;
  padding: 10px;
  border: 0px solid transparent;
  border-radius: 15px;
  background-color: #049547;
  color: white;
}

.placeOrder:hover {
  background-color: #025b2c;
}
/* <!--===============================================================================================--> */
#navigation {
  top: 10px;
  left: 10px;
}

#navigation span {
  font-size: 28px;
}

#navigation a {
  font-size: 28px;
  text-decoration: none;
  color: black;
}

@media (max-width: 468px) {
  #navigation span {
    font-size: 20px;
  }

  #navigation a {
    font-size: 20px;
  }
}
/* <!--===============================================================================================--> */
