body {
    background-color: #404040 !important;
    font-family: Roboto, sans-serif !important;
}

/* <!--===============================================================================================--> */
nav {
    background-color: black;
    color: white !important;
}

nav i {
    font-size: 25px;
    transition: color 0.2s ease-in;
    cursor: pointer;
}

nav i:hover {
    color: #C8EC56;
}

/* <!--===============================================================================================--> */
#lists li {
    list-style: none;
}

#lists li a {
    text-decoration: none;
    color: white;
    transition: color 0.2s ease-in;
}

#lists li a:hover {
    color: #C8EC56;
}

@media (max-width: 768px) {
    #lists {
      margin: 0px;
    }
  
    #lists a {
      font-size: 15px;
    }
  }
/* <!--===============================================================================================--> */
#profileButton {
    cursor: pointer;
}

#profileButton:hover {
    color: #C8EC56;
}

#profileDropdown {
    right: 0;
    top: 60px;
    width: 200px;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    border-radius: 15px;
    z-index: 9999;
}

#profileDropdown {
    gap: 10px 0px;
}

#profileDropdown a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

#profileDropdown a:hover {
    color: #049547;
}

/* <!--===============================================================================================--> */
@media (min-width: 576px) {
    #cart{
        overflow: hidden;
    }
}

#cart .col,
#cart .col-5 {
    background-color: white;
}

#checkoutLists label {
    font-family: Poppins;
    font-size: 20px;
}

#checkoutLists input {
    padding: 3px;
}

/* <!--===============================================================================================--> */
table img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

table td {
    height: auto;
    min-height: 100%;
}

#tableFooter tr td{
    height: 60px !important;
    background-color: #404040;
    border-bottom: transparent;
}

#tableFooter tr td button{
    background-color: #049547;
    border: transparent;
}

#tableFooter tr td button:hover{
    background-color: #024b24;
}

.page-item.active .page-link{
    background-color: #c3e6cb !important;
    border: 1px solid #c3e6cb !important;
    color: black;
}

.page-item.active .page-link:hover{
    background-color: #98b39e !important;
    border: 1px solid #98b39e !important;
}

.page-item .page-link{
    color: #98b39e;
}

.page-item .page-link:hover{
    background-color: #98b39e;
    color: black;
}

.paginate_button.page-item.previous.disabled .page-link{
    background-color: white;
    ;
}

.paginate_button.page-item.next.disabled .page-link{
    background-color: white;
    ;
}
/* <!--===============================================================================================--> */
.spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 9px solid #c8ec56;
    animation: spinner-bulqg1 0.8s infinite linear alternate,
         spinner-oaa3wk 1.6s infinite linear;
  }
  
  @keyframes spinner-bulqg1 {
    0% {
       clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
    }
  
    12.5% {
       clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
    }
  
    25% {
       clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
    }
  
    50% {
       clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
    }
  
    62.5% {
       clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
    }
  
    75% {
       clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
    }
  
    100% {
       clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
    }
  }
  
  @keyframes spinner-oaa3wk {
    0% {
       transform: scaleY(1) rotate(0deg);
    }
  
    49.99% {
       transform: scaleY(1) rotate(135deg);
    }
  
    50% {
       transform: scaleY(-1) rotate(0deg);
    }
  
    100% {
       transform: scaleY(-1) rotate(-135deg);
    }
  }
  
  #spinnerContainer{
    position: fixed !important;
    background-color: #404040;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999 !important;
    height: 100vh;
    width: 100vw;
  }
